<a href="https://colab.research.google.com/github/daje0601/Python-2020/blob/master/pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# 1. DataFrame 생성(직접 만들기 / 외부에서 불러오기)
#### DataFrame이란? 표 형식으로 생성된 데이터를 의미함 

#### 간략한 설명을 위한 우리는 DataFrame을 df으로 약칭함
#### 일단 단순하게 말해보자면 df는 엑셀의 표라고 생각하시면 편합니다. 

#### df를 생성하는 방법은 크게 2가지로 나뉜다


## 1) 데이터 직접생성

In [1]:
# 자! 수학과 영어 성적에 대한 pandas의 df을 생성해보겠습니다. 
# 일단, 따라서 써보세요!

import pandas as pd 
import numpy as np

data = [["tom", 50, 86], ["girl", 89, 31], ["boy", 68, 91], ["john", 88, 75]]

#### 이 셀을 실행시키면 갑자기 표가 생성된 것을 보실 수 있습니다. 
#### 이처럼 pandas에는 df를 이렇게 간단하게 생성할 수 있습니다. 
#### 그런데 우리가 분석할 데이터를 매번 이렇게 치는것은 너무 귀찮겠죠? 그럴수도 없구요 

#### 그래서 외부에서 데이터를 가져와야 합니다. 그럼 외부에서 데이터는 어떻게 가져올까요?

## 2) 외부에서 데이터 불러오기

In [2]:
# 깃허브에서 데이터를 url가져오기 위해 선행되어야 하는 코드( 지금은 그냥 따라써주세요 )
!pandas read csv form github


#[url로 외부에서 데이터 가져오기]
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/car_crashes.csv"
df = pd.read_csv(url)

df.head()
# df.head() 말고 df로 입력하면 어떻게 되는지 꼭 실습하세요. 또한, df.tail()하면 어떻게 되는지 무엇인지 검색해보세요
# df.head() 란 표의 상단 부분만 출력하는 코드입니다.

/bin/bash: pandas: command not found

   total  speeding  alcohol  ...  ins_premium  ins_losses  abbrev
0   18.8     7.332    5.640  ...       784.55      145.08      AL
1   18.1     7.421    4.525  ...      1053.48      133.93      AK
2   18.6     6.510    5.208  ...       899.47      110.35      AZ
3   22.4     4.032    5.824  ...       827.34      142.39      AR
4   12.0     4.200    3.360  ...       878.41      165.63      CA

[5 rows x 8 columns]

In [3]:
# [컴퓨터에 있는 파일 불러오기]
from google.colab import files
uploaded = files.upload()

# 해당 코드를 입력하면 셀 하단에 파일선택 이라는 문구가 뜨십니다. 
# 가지고 있는 파일을 넣으면 데이터가 불러와 집니다. 
# 저 같은 경우, seaborn github에서 제공한 데이터를 가지고 실습을 진행하겠습니다.

Saving car_crashes.csv to car_crashes (5).csv

In [4]:
# 지금은 io가 무엇인지 몰라도 그냥 따라써보세요.
# 지금 우리가 이 셀을 실행하는 목적은 로컬에서 데이터를 불러올 수 있냐 없냐가 포인트 입니다! 

import io

df = pd.read_csv(io.BytesIO(uploaded['car_crashes.csv']))
df.head()

   total  speeding  alcohol  ...  ins_premium  ins_losses  abbrev
0   18.8     7.332    5.640  ...       784.55      145.08      AL
1   18.1     7.421    4.525  ...      1053.48      133.93      AK
2   18.6     6.510    5.208  ...       899.47      110.35      AZ
3   22.4     4.032    5.824  ...       827.34      142.39      AR
4   12.0     4.200    3.360  ...       878.41      165.63      CA

[5 rows x 8 columns]

#### df를 직접 생성하고 외부에서 불러오는 방법을 실습해 보았습니다. 
###### jupyter notebook이라는 프로그램에서는 df = pd.read_clipboard()로도 출력이 되어 함께 소개드리려 하였으나, 
###### 안타깝게도 colab에서는 실행이 되지 않네요. 참고하세요

# 2. column & row 다루기

우리가 불러온 데이터는 실습하기에는 표 양이 방대하기에 조금 줄어서 실습 진행하겠습니다.  

  이 부분은 이해가 안돼시겠지만, pandas_4 데이터 다루기를 공부하시면
  이해가 충~분히 되시니 걱정마시고 일단 따라써주세요  


#### 지금까지 df를 만들어 보았는데요 
#### 이제 df의 내에서 column과 row를 다뤄보겠습니다.

In [5]:
# 데이터 양 줄이기 ( 슬라이싱이라고 많이 표현 합니다. )
df = df.iloc[0:5, 0:5]
df

   total  speeding  alcohol  not_distracted  no_previous
0   18.8     7.332    5.640          18.048       15.040
1   18.1     7.421    4.525          16.290       17.014
2   18.6     6.510    5.208          15.624       17.856
3   22.4     4.032    5.824          21.056       21.280
4   12.0     4.200    3.360          10.920       10.680

##### df에 대한 개념 설명을 잠깐 하겠습니다. 
##### 모든 df(표)는 행(column)과 열(row)로 구성되어 있습니다. 
##### 행(column) : 표의 세로줄 
##### 열(row) : 표의 가로줄
##### 인덱스(index) : 표의 가로줄의 맨 앞에 있는 값

In [6]:
# column 출력
# df를 다룰때는 항상 앞에 df를 써주고 column 이름을 써주는데, 문자열일 경우, 꼭 "" or ''로 감싸주어야한다. 

df.loc[:, "total"]
# column을 출력할 때만, 간단하게 df["total"] 줄어서 쓸 수도 있다

0    18.8
1    18.1
2    18.6
3    22.4
4    12.0
Name: total, dtype: float64

In [7]:
# row 출력
# 위 표처럼 숫자로만 표시된 경우는 "" 또는 ''로 감싸줄 필요가 없다 
# index가 숫자가 아니라면 당연히 "" 또는 ''로 감싸주어야 겠죠?

df.loc[0, :]

total             18.800
speeding           7.332
alcohol            5.640
not_distracted    18.048
no_previous       15.040
Name: 0, dtype: float64

In [8]:
# column list 출력
# 자! 지금보는 df는 데이터 양이 작기 때문에 표의 column명에 무엇이 있지?
# 내가 찾고자 하는 column이 있는지 어떻게 확인하지? 이런 고민이 들지 않는다. 
# 그러나, 나중에 가면 하게 되니 미리 실습해보죠

# 방법1
df.columns

# 방법2
#df.columns.values.tolist() 
# 방법1과 방법2에는 어떠한 차이점이 있는지 꼭 찾아보세요

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous'], dtype='object')

##### 오호! 출력을 하니 리스트형태로 columns가 출력이 되네요
##### 나중에 표의 데이터 타입을 변경할 때(str -> float) 사용되니 아~ 이런게 있구나 정도로만 기억해주세요

In [9]:
# column 이름 변경방법
# 우리는 가끔 column의 이름을 변경해 보고 싶을 때가 있습니다. 

df.rename(columns = {'total': 'all', 'speeding': 'overspeed'}, inplace = False)

    all  overspeed  alcohol  not_distracted  no_previous
0  18.8      7.332    5.640          18.048       15.040
1  18.1      7.421    4.525          16.290       17.014
2  18.6      6.510    5.208          15.624       17.856
3  22.4      4.032    5.824          21.056       21.280
4  12.0      4.200    3.360          10.920       10.680

In [10]:
# 오호~ 변경을 이렇게 하는구나!!!
# 자~ 잘 됐나? 다시 df를 출력해 볼까? 잉?! 나를 스트레스 받게 하는 이 결과 값은....?!?!!?!?!
df

   total  speeding  alcohol  not_distracted  no_previous
0   18.8     7.332    5.640          18.048       15.040
1   18.1     7.421    4.525          16.290       17.014
2   18.6     6.510    5.208          15.624       17.856
3   22.4     4.032    5.824          21.056       21.280
4   12.0     4.200    3.360          10.920       10.680


#### 오잉? 이름을 바꿔주었는데 예전 이름이 그대로 나왔죠?
#### 이건 inplace=False 때문에 그렇습니다. 

#### 아래 코드처럼 inplace=True를 하시거나,
#### 새로운 변수에 저장을 하신다면 변경된 값이 계속 출력됩니다.

In [11]:
# column 이름 변경방법( 쭉~~~~)

df1 = df.rename(columns = {'total': 'all', 'speeding': 'overspeed'}, inplace = False)
df1 

# inplace=True는 직접 실습해보세요!
# df2 = df.rename(columns = {'total': 'all', 'speeding': 'overspeed'}, inplace = True)
# df2

    all  overspeed  alcohol  not_distracted  no_previous
0  18.8      7.332    5.640          18.048       15.040
1  18.1      7.421    4.525          16.290       17.014
2  18.6      6.510    5.208          15.624       17.856
3  22.4      4.032    5.824          21.056       21.280
4  12.0      4.200    3.360          10.920       10.680

지금까지는 cloumn 데이터 출력 및 이름변경 방법에 대해 알아보았습니다.   

이제는 row에 대해서 알아보겠습니다.

In [12]:
# index(row) list 출력

# 방법1
df.index.tolist() 

# 방법2
# df.index
# 방법1과 방법2에는 어떠한 차이점이 있는지 꼭 찾아보세요

[0, 1, 2, 3, 4]

In [13]:
# index(row) 이름변경

# 방법1
df.rename(index = {0: 'first', 2: 'sec'}, inplace = False)

       total  speeding  alcohol  not_distracted  no_previous
first   18.8     7.332    5.640          18.048       15.040
1       18.1     7.421    4.525          16.290       17.014
sec     18.6     6.510    5.208          15.624       17.856
3       22.4     4.032    5.824          21.056       21.280
4       12.0     4.200    3.360          10.920       10.680

In [14]:
# index(row) 통채로 바꾸기
# 우리는 인덱스를 표에 있는 특정한 column으로 변경하고 싶을 때가 있습니다. 

# 방법1 : 데이터를 불러올 당시부터 index_col=0을 기입하여 첫줄로 변경할 수 있다. 
pd.read_csv(url, index_col=0).head()

# 만약 3번 column으로 바꾸고 싶다면 아래처럼 index_col=3을 입력하면 된다. 
pd.read_csv(url, index_col=3).head()

                total  speeding  alcohol  ...  ins_premium  ins_losses  abbrev
not_distracted                            ...
18.048           18.8     7.332    5.640  ...       784.55      145.08      AL
16.290           18.1     7.421    4.525  ...      1053.48      133.93      AK
15.624           18.6     6.510    5.208  ...       899.47      110.35      AZ
21.056           22.4     4.032    5.824  ...       827.34      142.39      AR
10.920           12.0     4.200    3.360  ...       878.41      165.63      CA

[5 rows x 7 columns]

그러나, 우리가 데이터를 다룰때는 어떠한 형태인지 모르고 불러오는 경우가 많다.  
이에, 위와 같은 방법은 실전에서는 적용하기 어렵다.  
  
그래서 set_index와 reset_index에 대해 알아보자

In [15]:
# index(row) 통채로 바꾸기

# 방법2 : df.set_index("내가 변경하고자 하는 컬럼의 이름")
df3 = df.set_index("total")
df3
# 짠! total로 index가 변경되었습니다. 너무 재미있지 않나요? 전 이런거 할때마다 새롭고.. 신기하고..

       speeding  alcohol  not_distracted  no_previous
total
18.8      7.332    5.640          18.048       15.040
18.1      7.421    4.525          16.290       17.014
18.6      6.510    5.208          15.624       17.856
22.4      4.032    5.824          21.056       21.280
12.0      4.200    3.360          10.920       10.680

자! 그럼 다시 고민이 되겠죠? 다시 숫자로 돌리고 싶은데? 어떻게하지?

In [16]:
# reset_index로 다시 되돌릴 수 있습니다.! 뿜!!!

df3.reset_index()

   total  speeding  alcohol  not_distracted  no_previous
0   18.8     7.332    5.640          18.048       15.040
1   18.1     7.421    4.525          16.290       17.014
2   18.6     6.510    5.208          15.624       17.856
3   22.4     4.032    5.824          21.056       21.280
4   12.0     4.200    3.360          10.920       10.680

오늘 수업은 여기까지 하도록 하겠습니다. 
그대로 이대로 끝내긴 아쉽죠?
오늘 배운 내용이 손에 익으실때까지 반복적으로 봐주시면 좋겠구요  

colab의 경우, 인공지능, 알고리즘 학습을 간단하게 시키기 위해 
구글에서 제공한 좋은 플랫폼입니다. 

그러나, 모든 사람들이 학습을 시키기위해 지속적으로 해당 플랫폼을 이용한다면?

관리하는 입장에서는 매우 힘들겠죠?
그래서 런타임을 자주 끊더라구요  
혹시 학습을 하시다가 알 수 없는 오류가 발생된다면
무조건 런타임 -> 다시 시작 및 모두 실행을 눌러주세요!!