<a href="https://colab.research.google.com/github/daje0601/Python-2020/blob/master/python_sample_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 정규표현식 라이브러리
import re

wordlist = ["color", "colour", "work", "working",
            "fox", "worker", "working"]

for word in wordlist:
        if re.search('col.r', word) : 
                print (word)

color

In [2]:
regular_expressions = '<html><head><title>Title</title>'
print(len(regular_expressions))

print(re.match('<.*>', regular_expressions).span())

print(re.match('<.*>', regular_expressions).group())

32
(0, 32)
<html><head><title>Title</title>

In [3]:
# case 1
pat = re.compile(r"""
 \s*                 # Skip leading whitespace
 (?P<header>[^:]+)   # Header name
 \s* :               # Whitespace, and a colon
 (?P<value>.*?)      # The header's value -- *? used to
                     # lose the following trailing whitespace
 \s*$                # Trailing whitespace to end-of-line
""", re.VERBOSE)

In [4]:
# case 2
pat = re.compile(r"\s*(?P<header>[^:]+)\s*:(?P<value>.*?)\s*$")

In [5]:
#"002"
print("2".rjust(3,"0"))
 
#"50000"
print("50000".rjust(5,"0"))
 
#"00123"
print("123".rjust(5,"0"))
 
#"aa123"
print("123".rjust(5,"a"))

002
50000
00123
aa123

In [6]:
#"002"
print("2".zfill(3))
 
#"50000"
print("50000".zfill(5))
 
#"00123"
print("123".zfill(5))

002
50000
00123

In [7]:
string_ = "Hello, I am Jack and I am a data scientist"
print(string_)
print(string_[1])

Hello, I am Jack and I am a data scientist
e

In [8]:
string_list = string_.split(" ")
string_list

['Hello,', 'I', 'am', 'Jack', 'and', 'I', 'am', 'a', 'data', 'scientist']

In [9]:
string_.startswith('Hello')

True

In [10]:
string_.endswith('scientist')

True

In [11]:
string_.endswith('tist')

True

In [12]:
print(string_.replace("Jack", "John"))
print(string_)

Hello, I am John and I am a data scientist
Hello, I am Jack and I am a data scientist

In [13]:
fruits = {"apple", "banana", "cherry"}
fruits_copy = fruits.copy()
fruits_copy

{'apple', 'banana', 'cherry'}

In [14]:
a = {'a': 5, 'b': 4, 'c': 8}
b = a
del b['a']
print(b)
print(a)

{'b': 4, 'c': 8}
{'b': 4, 'c': 8}

In [16]:
a = {'a': 5, 'b': 4, 'c': 8}
b = a.copy()
del b['a']
print(b)
print(a)

{'b': 4, 'c': 8}
{'a': 5, 'b': 4, 'c': 8}

In [17]:
import copy
list_var = [[1,2],[3,4]]
list_var_deepcopy = copy.deepcopy(list_var)
list_var_copy = list_var.copy()

list_var[1].append(5)

print(list_var)  # 원래 변수

print(list_var_deepcopy)  # deepcopy : append와 같은 메소드를 써도 값이 변경되지 않음

print(list_var_copy)  # copy : 원본이 변경되었으므로 함께 변경됨

[[1, 2], [3, 4, 5]]
[[1, 2], [3, 4]]
[[1, 2], [3, 4, 5]]

In [18]:
# case 1
data = [90, 45, 32, 44]
for i in range(len(data)):
   print(data[i]) # 90, 45, 32, 44

90
45
32
44

In [19]:
# case 2
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data:
    print(x)

id
first_name
last_name
email
gender
ip_address

In [20]:
# case 3
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.keys():
    print(x)

id
first_name
last_name
email
gender
ip_address

In [22]:
# case 4
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.values():
    print(x)

1
states
code
code@states.com
Female
123.123.123.23

In [23]:
# case 5 
mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.items():
    print(x)

for k,v in mock_data.items():
    print(k,v)

('id', 1)
('first_name', 'states')
('last_name', 'code')
('email', 'code@states.com')
('gender', 'Female')
('ip_address', '123.123.123.23')
id 1
first_name states
last_name code
email code@states.com
gender Female
ip_address 123.123.123.23

In [24]:
# 일반적인 반복문 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
for i in range(len(a)):
   print(a[i],b[i])

1 10
2 20
3 30
4 40
5 50

In [25]:
# zip 함수 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = zip(a,b)
print(list(c))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [26]:
# 반복문과 zip 활용
a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = [100,200,300,400,500]
for x,y,z in zip(a,b,c):
   print(x,y,z)

1 10 100
2 20 200
3 30 300
4 40 400
5 50 500

In [27]:
# break

IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        break
    else:
        print(x)

0
1
2

In [28]:
# continue

IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        continue
    else:
        print(x)

0
1
2
4
5
6
7

In [29]:
# 반복문의 다양한 활용
list_ = [1,2,3,4,5]

def foo(list_):
  print(list_)

print('foo(list_[i])')
for i in range(len(list_)):
    foo(list_[i])

print('foo(element)')
for element in list_:
    foo(element)

foo(list_[i])
1
2
3
4
5
foo(element)
1
2
3
4
5

In [33]:
# 케이스 1 - IndentationError

def print_list(list):
for item in list: # 에러 확인 및 해결필요
print(item)

# 인덴트를 넣어주면됨

IndentationError: ignored

In [38]:
# 케이스 2 - SyntaxError

123ddf

SyntaxError: ignored

In [39]:
# 케이스 3 - KeyboardInterrupt

while True:
  pass

KeyboardInterrupt: ignored

In [40]:
# 케이스 4 - TypeError

print(1) / 232

a,b = 0
print(a,b)

1

TypeError: ignored

In [41]:
# 케이스 5 - ZeroDivisionError

value = 2/0

ZeroDivisionError: ignored

In [42]:
# 케이스 6 - 경고

a = 0
c =0
print(a,c,)

0 0

In [44]:
list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        list.append(str(i))

print(list)
print(','.join(list))

['1001', '1008', '1022', '1029', '1036', '1043', '1057', '1064', '1071', '1078', '1092', '1099', '1106', '1113', '1127', '1134', '1141', '1148', '1162', '1169', '1176', '1183', '1197', '1204', '1211', '1218', '1232', '1239', '1246', '1253', '1267', '1274', '1281', '1288', '1302', '1309', '1316', '1323', '1337', '1344', '1351', '1358', '1372', '1379', '1386', '1393', '1407', '1414', '1421', '1428', '1442', '1449', '1456', '1463', '1477', '1484', '1491', '1498', '1512', '1519', '1526', '1533', '1547', '1554', '1561', '1568', '1582', '1589', '1596', '1603', '1617', '1624', '1631', '1638', '1652', '1659', '1666', '1673', '1687', '1694', '1701', '1708', '1722', '1729', '1736', '1743', '1757', '1764', '1771', '1778', '1792', '1799', '1806', '1813', '1827', '1834', '1841', '1848', '1862', '1869', '1876', '1883', '1897', '1904', '1911', '1918', '1932', '1939', '1946', '1953', '1967', '1974', '1981', '1988', '2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198']
1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [46]:
list=[]
for i in range(1000, 2200):
    if (i%7==0) and (i%5!=0):
        list.insert(len(list), str(i))

print(list)
print(','.join(list))

['1001', '1008', '1022', '1029', '1036', '1043', '1057', '1064', '1071', '1078', '1092', '1099', '1106', '1113', '1127', '1134', '1141', '1148', '1162', '1169', '1176', '1183', '1197', '1204', '1211', '1218', '1232', '1239', '1246', '1253', '1267', '1274', '1281', '1288', '1302', '1309', '1316', '1323', '1337', '1344', '1351', '1358', '1372', '1379', '1386', '1393', '1407', '1414', '1421', '1428', '1442', '1449', '1456', '1463', '1477', '1484', '1491', '1498', '1512', '1519', '1526', '1533', '1547', '1554', '1561', '1568', '1582', '1589', '1596', '1603', '1617', '1624', '1631', '1638', '1652', '1659', '1666', '1673', '1687', '1694', '1701', '1708', '1722', '1729', '1736', '1743', '1757', '1764', '1771', '1778', '1792', '1799', '1806', '1813', '1827', '1834', '1841', '1848', '1862', '1869', '1876', '1883', '1897', '1904', '1911', '1918', '1932', '1939', '1946', '1953', '1967', '1974', '1981', '1988', '2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198']
1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [47]:
words = []
while True:
    char = input()
    if char:
        words.append(char.upper())
    else:
        break;

for word in words:
    print(word)

word1
word2
word3
word4
word5
123
qwe

WORD1
WORD2
WORD3
WORD4
WORD5
123
QWE

In [48]:
values = []
for i in range(100, 300):
    char = str(i)

    if (int(char[0])%2==0) and (int(char[2])%2==0):
        values.append(char)

print(",".join(values))

200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298

In [49]:
list_1 = ['bread', 'meat']
list_2 = ['Lettuce',2 ,5]
list_1.extend(list_2)
print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 'Lettuce', 2, 5], list2: ['Lettuce', 2, 5]

In [50]:
list1 = [11, 12, 43, 4, 6]
for i in list1:
    if not i % 2:
        list1.remove(i)
print(list1)

[11, 43, 6]

In [51]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

del my_list[0]
print(my_list)

[99, 2, 3, 4, 5]
[2, 3, 4, 5]

In [52]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

my_list.pop()
print(my_list)

[99, 2, 3, 4, 5]
[99, 2, 3, 4]

In [53]:
list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Index for xyz : ",  list.index( 'xyz' ))
print("Index for ABC : ",  list.index( 'ABC' ))

Index for xyz :  0
Index for ABC :  2

In [54]:
list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Count for xyz : ",  list.count( 'xyz' ))
print("Count for ABC : ",  list.count( 'ABC' ))

Count for xyz :  1
Count for ABC :  1

In [55]:
import math
def bin_search(li, element):
    bottom = 0
    top = len(li)-1
    index = -1
    while top >= bottom and index == -1:
        mid = int(math.floor((top+bottom) / 2.0))
        if li[mid] == element:
            index = mid
        elif li[mid] > element:
            top = mid-1
        else:
            bottom = mid+1

    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,102))

4
-1

In [58]:
li = [12,24,35,70,88,120]
for (i,x) in enumerate(li):
   if i not in (0,3,5):
     li = x
print(li)

88

In [59]:
def list_update(list_test):
    new_li=[]
    new_set = set()
    for item in list_test:
        if item not in new_set:
            new_set.add(item)
            new_li.append(item)

    return new_li

list_test=[120,120,10,20,30,20]
print(list_update(list_test))

[120, 10, 20, 30]

In [64]:
from operator import itemgetter
l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))

print(sorted(l, key=itemgetter(0,1,2)))

qwe
asd
zxc
ert
dfg

IndexError: ignored

In [63]:
dic = {}
s=input()
for s in s:
    dic[s] = dic.get(s,0)+1
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

elewskdlsid
e,2
l,2
w,1
s,2
k,1
d,2
i,1